@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    color: #111827;
    --global-bg: theme("colors.white");
    --global-bg-invert: #111827;
    --badges-purple-border: rgba(126, 34, 206, 0.1);
  }
  .dark {
    color: white;
    --global-bg: #111827;
    --global-bg-invert: theme("colors.white");
    --badges-purple-border: rgba(192, 132, 250, 0.3);
  }
}

